<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #dashboard table {
            width: 600px;
            border-collapse: collapse;
        }
        #dashboard td {
            vertical-align: top;
            padding: 0;
        }
        #dashboard ul {
            list-style-type: none;
            margin: 0 0 8px 0;
            padding: 0;
        }
        #dashboard li {
            padding-bottom: 4px;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div id="dashboard">
        <table>
            <tr>
                <td colspan="2">
                    <h1 class="view-title"></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Links</h2>
                    <ul>
                        <li><A title="" href="http://www.google.com" target="">Link to external page</A></li>
                        <li><A title="" href="#Dashboard" target="">Link to local page</A></li>
                    </ul>
                </td>
                <td>
                    <h2>More Links</h2>
                    <ul>
                        <li><A title="" href="#LocalPage1" target="">Link to local page</A></li>
                        <li><A title="" href="#LocalPage2" target="">Link to local page</A></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>