<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style type="text/css">
        .pie_chart {
            width: 100%; 
            min-height: 300px;
        }

        .redbox{
            border: 1px dotted red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top bg-inverse">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">4-Star Executive Dashboard</a>
        <div id="navbar">
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1>Next Quarter Outlook</h1>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="card card-default">
                            <div class="card-block">
                                <h4 class="card-title">CG Number of Engagements</h4>
                            </div>
                        </div>
                        <div id="CGCount" class="pie_chart"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="card card-default">
                            <div class="card-block">
                                <h4 class="card-title">DCG-N Number of Engagements</h4>
                            </div>
                        </div>
                        <div id="DCGNCount" class="pie_chart"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="card card-default">
                            <div class="card-block">
                                <h4 class="card-title">DCG-S Number of Engagements</h4>
                            </div>
                        </div>
                        <div id="DCGSCount" class="pie_chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="card card-default">
                            <div class="card-block">
                                <h4 class="card-title">DCG-NG Number of Engagements</h4>
                            </div>
                        </div>
                        <div id="DCGNGCount" class="pie_chart"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div id="DCGARCount" class="pie_chart"></div>
                        <h4>DCG-AR</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div id="COSCount" class="pie_chart"></div>
                        <h4>COS</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div id="G3Count" class="pie_chart"></div>
                        <h4>G3</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1>Next Quarter Outlook</h1>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <div id="CGLength" class="pie_chart"></div>
                        <h4>CG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="DCGNLength" class="pie_chart"></div>
                        <h4>DCG-N</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="DCGSLength" class="pie_chart"></div>
                        <h4>DCG-S</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="DCGNGLength" class="pie_chart"></div>
                        <h4>DCG-NG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="DCGARLength" class="pie_chart"></div>
                        <h4>DCG-AR</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="COSLength" class="pie_chart"></div>
                        <h4>COS</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <div id="G3Length" class="pie_chart"></div>
                        <h4>G3</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
