<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top bg-inverse">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">4-Star Executive Dashboard</a>
        <div id="navbar">
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1>Next Quarter Outlook</h1>
                <div class="row placeholders">
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="CG" style="width: 200px; height: 200px;"></div>
                        <h4>CG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGN" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-N</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGS" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-S</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGNG" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-NG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGAR" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-AR</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="COS" style="width: 200px; height: 200px;"></div>
                        <h4>COS</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="G3" style="width: 200px; height: 200px;"></div>
                        <h4>G3</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
                <h2>Section title</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td>elit</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>Integer</td>
                                <td>nec</td>
                                <td>odio</td>
                                <td>Praesent</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>libero</td>
                                <td>Sed</td>
                                <td>cursus</td>
                                <td>ante</td>
                            </tr>
                            <tr>
                                <td>1,004</td>
                                <td>dapibus</td>
                                <td>diam</td>
                                <td>Sed</td>
                                <td>nisi</td>
                            </tr>
                            <tr>
                                <td>1,005</td>
                                <td>Nulla</td>
                                <td>quis</td>
                                <td>sem</td>
                                <td>at</td>
                            </tr>
                            <tr>
                                <td>1,006</td>
                                <td>nibh</td>
                                <td>elementum</td>
                                <td>imperdiet</td>
                                <td>Duis</td>
                            </tr>
                            <tr>
                                <td>1,007</td>
                                <td>sagittis</td>
                                <td>ipsum</td>
                                <td>Praesent</td>
                                <td>mauris</td>
                            </tr>
                            <tr>
                                <td>1,008</td>
                                <td>Fusce</td>
                                <td>nec</td>
                                <td>tellus</td>
                                <td>sed</td>
                            </tr>
                            <tr>
                                <td>1,009</td>
                                <td>augue</td>
                                <td>semper</td>
                                <td>porta</td>
                                <td>Mauris</td>
                            </tr>
                            <tr>
                                <td>1,010</td>
                                <td>massa</td>
                                <td>Vestibulum</td>
                                <td>lacinia</td>
                                <td>arcu</td>
                            </tr>
                            <tr>
                                <td>1,011</td>
                                <td>eget</td>
                                <td>nulla</td>
                                <td>Class</td>
                                <td>aptent</td>
                            </tr>
                            <tr>
                                <td>1,012</td>
                                <td>taciti</td>
                                <td>sociosqu</td>
                                <td>ad</td>
                                <td>litora</td>
                            </tr>
                            <tr>
                                <td>1,013</td>
                                <td>torquent</td>
                                <td>per</td>
                                <td>conubia</td>
                                <td>nostra</td>
                            </tr>
                            <tr>
                                <td>1,014</td>
                                <td>per</td>
                                <td>inceptos</td>
                                <td>himenaeos</td>
                                <td>Curabitur</td>
                            </tr>
                            <tr>
                                <td>1,015</td>
                                <td>sodales</td>
                                <td>ligula</td>
                                <td>in</td>
                                <td>libero</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
