<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top bg-inverse">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">4-Star Executive Dashboard</a>
        <div id="navbar">
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1>Next Quarter Outlook</h1>
                <div class="row placeholders">
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="CGCount" style="width: 200px; height: 200px;"></div>
                        <h4>CG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGNCount" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-N</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGSCount" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-S</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGNGCount" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-NG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGARCount" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-AR</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="COSCount" style="width: 200px; height: 200px;"></div>
                        <h4>COS</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="G3Count" style="width: 200px; height: 200px;"></div>
                        <h4>G3</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1>Next Quarter Outlook</h1>
                <div class="row placeholders">
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="CGLength" style="width: 200px; height: 200px;"></div>
                        <h4>CG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGNLength" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-N</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGSLength" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-S</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGNGLength" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-NG</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="DCGARLength" style="width: 200px; height: 200px;"></div>
                        <h4>DCG-AR</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="COSLength" style="width: 200px; height: 200px;"></div>
                        <h4>COS</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div id="G3Length" style="width: 200px; height: 200px;"></div>
                        <h4>G3</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
